img {
    width: 200px;
    height: 200px;
 
}

img.frameContainer {
    background-image: ('BUNNYBAKERY.png')
    background-position: center;
    background-size: 100% 100%;
    
}

body, h1, a {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', 'Monaco', monospace;
    background-color: #F7E59A;
    height: 100%;
    overflow: hidden;
    color: #F37CDD;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    
}

.inner-container {
    display: flex;
    margin: auto;
}

#instruction-chatbox {
  position: fixed;
  display: flex;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 47%;
  height: 80px;
  background-color: FEABEF;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border-width: 5px;
  text-align: left;
  border-style: solid;
  border-color: white;
}

#bakeryNameDisplay {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    background-color: #F37CDD;
    padding: 10px;
    border-radius: 10px;
}

#bakeryNameInput, #instruction-chatbox button {
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#instruction-chatbox button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#instruction-chatbox button:hover {
    background-color: #45a049;
}
    
.sidebar {
  position: fixed;
  left: 40px;
  margin: auto 0; 
  width: 15%;
  height: 70%;
  background-color: #FDA2EC;
  color: white;
  font-size: 20px;
  line-height: 100px;
  padding: 20px; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left; 
 }

ul li {
  text-align: left;
}

.container {
    display: flex;
    align-items: flex-start;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

/*BACKGROUND PICTURE*/ 


/*

#sprite {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('PINKSPRITE.png');
    background-size: cover;
}
*/
