<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Character Page</title>
    <link rel="stylesheet" href="aboutpage.css">
    <script src="aboutpage.js"></script>
</head>
<body>
    <header>
        <h1>About</h1> 
        <h2>We hope you enjoy bunny bakery :) </h2>
        <h2>FROM THE DEVELOPERS</2>
        <H2>WENDY DYLAN SIANN</h2>
    </header>
    <img src="WENDYDYLANSIANN.png" alt = "usteehee" width = "500">

</body>
</html>

