<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunny Bakery</title>
     <link rel="stylesheet" href="static/css/bbgame.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bbgame.css') }}">
</head>
<body>
    <header>
        <h1>౨ৎ Bunny Bakery ౨ৎ</h1> </header>

    <div class="container">
        <div id="sidebar" class="sidebar">
            <ul>
                <a href="characterpage.html">BUNNY</a>
                <a href="treatpage.html">TREATS</a>
                <a href="friendspage.html">FRIENDS</a>
                <a href="about.html">ABOUT</a>

            </ul>
        </div>
    
        <div id='main-buttons'></div>
            <button id='check-toppings' style="opacity: 0">Check Toppings</button>
            <div id='stove-dial-generated'></div>
        </div>


        <div id="ingredients" style="opacity: 0">
            <h3>Fridge Contents</h3>
            <div id="fridge-container"></div>
            <h3>Cabinet Contents</h3>
            <div id="cabinet-container"></div>
        </div>

        <div id='bowl-ingredients' style="opacity: 0">
            <h3>Bowl Ingredients</h3>
            <div id='bowl-container'></div>
        </div>

        <div id="message"></div>

        <div id='cooking-pancake'>
            <div id='pancake-actions-container' style="opacity: 0"></div>
        </div>

        <div id='end-of-game'>
        </div>


        <div class="main-content">
            <canvas id="game-frame" width="711" height="540" style="border:3px solid white;"></canvas>          
            <div id="instruction-chatbox">
                <div id="instruction-text">WELCOME</div>
                <button id="gameflow">START GAME</button>
            </div>

            <div id="bakeryNameDisplay"></div>  
            </div>
            </div> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bbgame.js') }}"></script>

</body>
</html>

