<DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <title>Bunny Bakery</title>
    <link rel="stylesheet" href="static/css/landing.css"></head>

<body>
    <header>
        <h1>౨ৎ Welcome to Bunny Bakery ౨ৎ</h1>
    </header>

    <main>
        <section>
            <p class="landing-text">Embark on a delicious adventure with your very own bunny as you make sweet treats to grow your bakery</p>
            <a href="bbgame">Enter your bakery</a>
        </section>
	<br>
	<section>
		<p>	Login or create an account to save your bakery!</p>

		<a href="login">Login</a>
	</section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Bunny Bakery</p>
    </footer>

</body>
</html>
