body {
    color: #F37CDD;
    background-color: #F7E59A;
    text-align: center;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 20px;
    margin: 20px auto;
}

img {
  width: 400px,
  height: auto
}
