


<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunny Bakery</title>
    <link rel="stylesheet" href="bbgame.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bbgame.css') }}">
</head>
<body>
    <header>
        <h1>౨ৎ Bunny Bakery ౨ৎ</h1>
    </header>

    <div class="container">
        <div id="sidebar" class="sidebar">
            <ul>
                <a href="characterpage.html">BUNNY</a>
                <a href="treatpage.html">TREATS</a>
                <a href="friendspage.html">FRIENDS</a>
                <a href="about.html">ABOUT</a>

            </ul>
        </div>

	

        <div class="main-content"> 
		<h1>Login</h1>
		<div class="inner-container">
		<form method="POST"
             		action="{{ url_for('handle_post') }}">
		<label for="username">Username:</label>
            	<input type="text"
                   name="username"
                   placeholder="Username">
		<br>
		<label for="password">Password:</label>
            	<input type="password"
                  	 name="password"
                   	placeholder="Password">
		<br>
            		<button type="submit">submit</button>
        	</form>	
		</div>
		
		
            <div id="bakeryNameDisplay"></div> 
        </div>
    </div> 
<script src="{{ url_for('static', filename='js/bbgame.js') }}"></script>

</body>
</html>


