img {
    width: 200px;
    height: 200px;
}




body, h1, a {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', 'Monaco', monospace;
    background-color: #F7E59A;
    height: 100%;
    overflow: hidden;
    color: #F37CDD;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    
}

#instruction-chatbox {
  position: relative;
  width: 45%;
  height: 80px;
  background-color: #FEABEF;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5% auto;

}

#instruction-text{
    text-align: left;
    top: 0;
    left: 0;
}

#bakeryNameDisplay {
    position: fixed;
    top: 18%;
    left: 3%;
    color: white;
    background-color: #F37CDD;
    padding: 10px;
    border-radius: 10px;
}

#bakeryNameInput, #instruction-chatbox .button-set-name {
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#instruction-chatbox .button-set-name {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#instruction-chatbox .button-set-name:hover {
    background-color: #45a049;
}


.sidebar {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}
    
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

.container {
    display: flex;
    align-items: flex-start;
    width: 100vw;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

canvas {
    margin: 2% auto;
    width: 45vw;
}

#open-fridge { 
    margin: 11.2% 59.2% auto;
    color: white;
    width: 3vw;
    font-size: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    position: fixed;

}

#open-cabinet {
    position: fixed;
    margin: 7.4% 38% auto;
    color: white;
    width: 3vw;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#ingredients {
    margin: 6.9% 2% auto;
    line-height: 1em;
    width: 10vw;
    background-color: #ffacec;
    padding: 5px;
    color: white;
    position: fixed;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

#fridge-container {
    margin: 10% 5% auto;

}

#cabinet-container {
    margin: 15% 5% auto;
}

#bowl-ingredients {
    margin: 6.9% 14.5% auto;
    line-height: 1em;
    width: 10vw;
    background-color: #ffacec;
    padding: 5px;
    color: white;
    position: fixed;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

#bowl-container {
    margin: 18% 5% auto;
}

#message {
    position: fixed;
    margin: 1% 50% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #ffacec;
    color: white;
}

#check-ingredients {
    position: fixed;
    margin: 40% 80% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#dial-button {
    position: fixed; 
    margin: 10% 67% auto;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 10px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#dial-button:active {
    background-color: #3e8e41;
}

#cooking-pancake {
    position: fixed;
    margin: 7% 67% auto;
}

#place-pan {
    position: fixed; 
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 10px;
    cursor: pointer
}


#pancake-actions-container {
    width: 10vw;
    font-size: 10px;
    color: white;
    position: fixed;
    margin: 0% 10% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#end-of-game {
    position: fixed;
    margin: 50% 80% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;

}

#check-toppings {
    position: fixed;
    margin: 20% 80% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#mix-ingredients {
    position: fixed;
    margin: 10% 80% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}


