img {
    width: 200px;
    height: 200px;
 
}

body, h1, a {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', 'Monaco', monospace;
    background-color: #F7E59A;
    height: 100%;
    overflow: hidden;
    color: #F37CDD;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    
}

#instruction-chatbox {
  position: relative;
  width: 45%;
  height: 80px;
  background-color: #FEABEF;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5% auto;

}

#instruction-text{
    text-align: left;
    top: 0;
    left: 0;
}

#bakeryNameDisplay {
    position: fixed;
    top: 18%;
    left: 3%;
    color: white;
    background-color: #F37CDD;
    padding: 10px;
    border-radius: 10px;
}

#bakeryNameInput, #instruction-chatbox .button-set-name {
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#instruction-chatbox .button-set-name {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#instruction-chatbox .button-set-name:hover {
    background-color: #45a049;
}


.sidebar {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}
    
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

.container {
    display: flex;
    align-items: flex-start;
    width: 100vw;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

canvas {
    margin: 2% auto;
    width: 45vw;
}

.button-fridge-contents {
    position: fixed;
    margin: 15% auto;
    color: white;
    width: 10vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;

}

.button-cabinet-contents {
    position: fixed;
    margin: 20% auto;
    color: white;
    width: 10vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;

}

#fridge {
    width: 15vw;
    background-color: #ffacec;
    padding: 5px;
    color: white;
    position: fixed;
    margin: 10% 5% auto;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}



